* {
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e0e0e0;
  margin: 0;
}

.calculator {
  background: #111;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#display {
  background: #eee;
  color: #000;
  font-size: 2.5rem;
  text-align: right;
  padding: 15px;
  margin: 0 0 20px 0;
  border-radius: 4px;
  min-height: 70px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: system-ui;
  font-weight: bold;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(60px, auto);
}

button {
  background: #444;
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #666;
}

.operator {
  background: #888;
  color: #000;
}

.operator:hover {
  background: #aaa;
}

.clear {
  background: Maroon;
}

.backspace {
  background: #222;
}

.equals {
  background: #ddd;
  color: #000;
  grid-row: span 2;
  align-self: stretch;
}

.equals:hover {
  background: #fff;
}
